{% extends 'school_admin/base.html' %}
{% load static %}

{% block title %}Manage Students{% endblock title %}

{% block content %}

<div class="">
    <div>
        <div class="w-full p-7 items-center justify-between mb-8 bg-white shadow-lg">
            <h1 class="text-3xl font-bold text-slate-800 font-sans tracking-tight">Manage Students</h1>
        </div>
        <div class="px-8">
            <div class="flex items-center justify-between mb-8 ">
                <form method="GET">
                    <div class="flex">
                        <input type="search" name="search" value="{{ request.GET.search }}" placeholder="Search by student's name, admission no, phone..." class="w-[340px] border border-stone-300 rounded-l-xl px-5 py-3 shadow-md">
                        <button type="submit" class="bg-neutral-700 text-white px-4 rounded-r-xl hover:bg-neutral-900 shadow-md transition">Search</button>
                    </div>
                </form>
                <a href="{% url 'insert_student' %}" class="px-5 py-3 bg-slate-800 text-white rounded-lg font-medium hover:bg-slate-700 transition">+ Add Student</a>
            </div>
            <div class="grid grid-cols-5 gap-4">
                {% for student in students %}
                <div class="group bg-white rounded-2xl border border-stone-200 overflow-hidden shadow-sm hover:shadow-lg transition">
                    <div class="relative aspect-square overflow-hidden bg-stone-100">
                        {% if student.cover_image %}
                            <img src="{{ student.cover_image.url }}" alt="{{ student.user.get_full_name }}" class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500">
                        {% else %}
                            <img src="{% static 'user.png' %}" alt="Student Image" class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500">
                        {% endif %}
                        <div class="absolute top-2 left-2">
                            <span class="text-xs font-semibold text-blue-700 bg-white/95 rounded-full px-2 py-1">{{ student.gender }}</span>
                        </div>
                    </div>
                    <div class="px-2 py-4">
                        <div class="flex flex-col mb-4">
                            <h1 class="text-lg text-center font-medium font-serif text-amber-500">{{ student.user.get_full_name }}</h1>
                            <p class="text-sm text-center font-medium text-neutral-500 tracking-wide">Admission No: <span class="text-black">{{ student.admission_number }}</span></p>
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <p class="text-sm font-medium text-stone-400 tracking-wide">Phone</p>
                                <p class="text-sm font-medium mt-0.5 truncate">{{ student.phone }}</p>
                            </div>
                            <div>
                                <p class="text-sm font-medium text-stone-400 tracking-tighter">Admission Date</p>
                                <p class="text-sm font-medium mt-0.5">{{ student.admission_date }}</p>
                            </div>
                        </div>
                        <div class="flex gap-2 mt-4 pt-4 border-t border-stone-300">
                            <a href="{% url "student_details" student.id %}" class="flex-1 text-center py-2 rounded-lg bg-stone-900 text-white text-xs font-semibold hover:bg-stone-700 transition">View</a>
                            <a href="{% url "delete_student" student.id %}" class="flex-1 text-center py-2 border border-red-400 rounded-lg text-red-700 text-xs font-semibold hover:bg-red-200 transition">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}