{% extends "school_admin/base.html" %}
{% block title %}Admin Dashboard | School Management System{% endblock title %}

{% block content %}
    <div class="w-full">
        <header class="bg-white border-b border-slate-200 p-8 shadow-sm">
            <h2 class="text-2xl font-semibold text-slate-900">Admin Dashboard</h2>
        </header>
        <section class="p-8">
            <div class="grid grid-cols-4 gap-5">
                <div class="bg-white rounded-xl p-6 shadow-sm border border-slate-200">
                    <p class="text-sm text-slate-500">Total Students</p>
                    <h3 class="text-2xl font-semibold mt-2 text-slate-900">0</h3>
                </div>
                <div class="bg-white rounded-xl p-6 shadow-sm border border-slate-200">
                    <p class="text-sm text-slate-500">Total Teachers</p>
                    <h3 class="text-2xl font-semibold mt-2 text-slate-900">0</h3>
                </div>
                <div class="bg-white rounded-xl p-6 shadow-sm border border-slate-200">
                    <p class="text-sm text-slate-500">Total Classes</p>
                    <h3 class="text-2xl font-semibold mt-2 text-slate-900">0
                    </h3>
                </div>
                <div class="bg-white rounded-xl p-6 shadow-sm border border-slate-200">
                    <p class="text-sm text-slate-500">Total Buses</p>
                    <h3 class="text-2xl font-semibold mt-2 text-slate-900">0</h3>
                </div>
            </div>
            <div class="mt-8 bg-white rounded-xl shadow-sm border border-slate-200 p-6">
                <h2 class="text-lg font-medium text-slate-900 mb-4">Quick Actions</h2>
                <div class="grid grid-cols-4 gap-4">
                    <a href="" class="p-4 rounded-lg bg-slate-100 text-slate-900 hover:bg-slate-200 transition">Add Student</a>
                    <a href="" class="p-4 rounded-lg bg-slate-100 text-slate-900 hover:bg-slate-200 transition">Add Teacher</a>
                    <a href="" class="p-4 rounded-lg bg-slate-100 text-slate-900 hover:bg-slate-200 transition">Create Notice</a>
                    <a href="" class="p-4 rounded-lg bg-slate-100 text-slate-900 hover:bg-slate-200 transition">Record Payment</a>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}